<main class="splash-screen">
<h1>Budget Monitor</h1>
<div class="buttons-sign">
  <a href="<%=new_user_session_path %>" class="login">LOG IN</a>
  <a href="<%=new_user_registration_path %>">SIGN UP</a>
</div>
</main>